# Visual Studio / VS Code
.vs/
.vscode/
*.user
*.suo
*.sln
*.code-workspace


# Build outputs
Bin/
Obj/
bin-debug/
bin-release/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk
*.exe
*.dll
*.meta